.x-data-detail {
  padding: $size-padding;
  background: #fff;
  .x-detail-block {
    margin-bottom: 2 * $size-padding;
    padding-bottom: $size-padding;
    border-bottom: 1px solid $color-border;
    &：last-of-type {
      border: 0;
    }
    >.el-row {
      margin-left: -16px;
      margin-right: -16px;
    }
    .el-row--flex {
      flex-wrap: wrap;
    }
    h4.x-detail-title {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
  .x-detail-item {
    display: flex;
    width: 100%;
    font-size: 14px; // padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
    min-height: 50px;
    .x-label {
      line-height: 22px;
      margin-right: 8px;
      color: rgba(0, 0, 0, 0.85);
      white-space: nowrap;
      &::after {
        content: ':';
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
      }
    }
    .x-value {
      line-height: 22px;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      flex: 1;
    }
    .el-form-item__content {
      line-height: 1;
    }
    .el-form--inline .el-form-item {
      margin-bottom: 0;
      vertical-align: -webkit-baseline-middle;
    }
  }
  .el-button--text {
    padding: 0;
  }
  &.x-no-colon {
    .x-detail-item .x-label {
      margin-right: 15px;
      &::after {
        display: none;
      }
    }
  }
}
