$nav-width: 250px;
$nav-width-closed: 64px;
$color-bg: #e5e6e6;
$color-bg-dark: darken($color-bg, 8%);
$color-bg-light: lighten($color-bg, 0%);
$color-nav-white: #ffffff;
// $color-nav-dark: rgb(67, 74, 80);
$color-nav-dark: #25282e;
$color-border: #e8e8e8;
$color-border-dark: darken(#e5e6e6, 8%);
$color-white: #fff;
$color-red: #f04134;
$color-purple: #950bff;
$color-yellow: #ffcb02;
$color-blue: #3498db;
$color-maintain: #34dcf0;
// $color-blue: #108ee9;
$color-green: #34db7f;
$color-gray: #969696;
$color-dark: #333;
$color-black: #171717;
$size-padding: 15px;
$main-dark: #3a3a3a;
$main-yellow: #ffcb02;
$main-white: #fff;
$marker-bg: #3a3a3a;
$marker-border: #fff;
$marker-content: #fff;
$marker-highlight: #ffca2d;
$color-detail: #99a9bf;
$table-btn-margin: 8px;
//地图状态值
$status-leisure: #96c840;
$status-already: #fdd000;
$status-rent: #5badff;
$status-maintain: #4e4e4e;
$status-low: #f67a61;
$map-ststus-top: 15px;
$map-ststus-right: 10px;
